*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sez-header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boolflix h1 {
  color: white;
  font-size: 50px;
}

.input-film, .cerca-film {
  height: 30px;
  font-size: 17px;
  border-radius: 12px;
}

.cerca-film{
  width: 70px;
  cursor: pointer;
  margin-left: 6px;
}

.container-film{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cover-film{
  border: solid 1px black;
  width: 280px;
  height: 400px;
  margin: 30px 20px;
  cursor: pointer;
}

.cover-film img{
  width: 65%;
  height: 65%;
  margin-left: 17.5%;
}

.fas.fa-star {
  color: yellow;
}

.img-bandiera{
  width: 28px;
  display: flex;
}

.lingue{
  /* border-radius: 100px; */
  margin-top: 3px;
}
